---
layout: "layout.njk"
title: Blog
contenttitle: Blog
titlecaption: I have a lot to say.
justify: center
handnotel: |
    <h1>Nanoblog</h1>
    <div style="width: 200px; height: 250px; background-color:tan;"></div>
handnoter: |
    <h1>Microblog</h1>
    <div style="width: 200px; height: 250px; background-color:tan;"></div>

---
<h1>Macroblog</h1>
<section class="macroblogs">

    {% for post in collections.blog %}
        <a href="{{ post.url }}">
            <article>
                <h2>{{ post.data.contenttitle }}</h2>
                
                <p>{{ post.data.description }}</p>

                <p class="macroData">{{ post.data.posttime }} minute read
                
                posted on {{ post.data.postdate }}</p>
            </article>
        </a>
    {% endfor %}

</section>