---
layout: "layout.njk"
title: Blog
contenttitle: Blog
titlecaption: I have a lot to say.
justify: center
pagestyle: <style>.otherblogs {display:flex; justify-content:center; align-content:center; gap:25px;}</style>

---
<h2 style="margin-top:5px;">Macroblog</h2>
<section class="macroblogs">

    {% for post in collections.blog %}
        <a href="{{ post.url }}">
            <article>
                <h1>{{ post.data.contenttitle }}</h1>
                <p>{{ post.data.posttime }} minute read posted on {{ post.data.postdate }}<p>{{ post.data.description }}</p>
            </article>
        </a>
    {% endfor %}

            <article>
                <h1>{{ post.data.contenttitle }}</h1>
                <p>{{ post.data.posttime }} minute read posted on {{ post.data.postdate }}<p>{{ post.data.description }}</p>
            </article>

</section>


<section class="otherblogs">
    <section>
        <h2>Nanoblog</h2>
        <article id="nanoblogs">
            <div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=vanillian" defer></script>
            <a href="https://piclog.blue/profile.php?id=116"><img class="nanoimg" src="https://piclog.blue/latest.php?id=116"></a>
        </article>
    </section>
    <section>
        <h2>Microblog</h2>
        <section class="microblog">
            <article class="microentry">
                <header>
                    <p>to: You</p>
                    <p>from:</p>
                    <p>date:</p>
                    <p>subject:</p>
                    <hr>
                </header>
                <p>Well,</p>
                <p>I did it</p>
            </article>
            
            <article class="microentry">
                <header>
                    <p>to: You</p>
                    <p>from:</p>
                    <p>date:</p>
                    <p>subject:</p>
                    <hr>
                </header>
                <p>Well,</p>
                <p>This isn't going anywhere.</p>
            </article>
        </section>
    </section>
</section>




