---
layout: "layout.njk"
title: Blog
contenttitle: Blog
titlecaption: I have a lot to say.
justify: center
handnotel: |
    <h1>Nanoblog</h1>
    <section class="nanoblog">
        <div id="statuscafe"><div id="statuscafe-content">loading...</div></div><script src="/assets/scripts/statuscafe.js" defer></script>

        <a href="https://piclog.blue/profile.php?id=116"><img src="https://piclog.blue/latest.php?id=116" id="piclog"></a>
    </section>
handnoter: |
    <h1>Microblog</h1>
    <div style="width: 200px; height: 250px; background-color:tan;"></div>
pagestyle: |
    <style>
        .nanoblog {
        width: 200px;
        height: 250px;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:10px;
        position: relative;
        }

        .nanoblog::before {
        content: '';
        position: absolute;
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 20px solid green;
        border-bottom: none;
        }

        #piclog {
        max-width:190px;
        margin-top:25px;
        border-radius: 2px;
        }

        #statuscafe {
        max-width:190px;
        color: black;
        font-size:20px;
        text-align: center;
        background: green;
        margin-top:0;
        padding:28px;
        margin-top:-5px;
        margin-left:5px;
        margin-right:5px;
        padding-left:10px;
        padding-right:10px;
        border-radius:5%;
        }

        .microblog {
        
        }
    </style>
---
<h1>Macroblog</h1>
<section class="macroblogs">

    {% for post in collections.blog %}
        <a href="{{ post.url }}">
            <article>
                <h2>{{ post.data.contenttitle }}</h2>
                
                <p>{{ post.data.description }}</p>

                <p class="macroData">{{ post.data.posttime }} minute read
                
                posted on {{ post.data.postdate }}</p>
            </article>
        </a>
    {% endfor %}

</section>