---
layout: "layout.njk"
title: Elsewhere
contenttitle: The Elsewhere
titlecaption: Thank you for visiting!
handnotel: "&nbsp"
handnoter: "&nbsp"
justify: left
---
<p>Autem sed facilisi sit ea kasd dolore. Ut assum tempor labore et dolores dolore autem ipsum feugiat est. Accusam vulputate facilisis gubergren vel dolore sit vero takimata feugiat. Ea kasd eos ea luptatum hendrerit dolores erat lorem aliquip amet hendrerit consetetur erat. Consectetuer tincidunt sed no eum lorem et erat tincidunt no dignissim.</p>
<h2 style="margin-top:5px; margin-bottom:0px;">Online Utility</h2>

<h3 style="margin-top:5px;">Onelook</h3>

<p>i have a few ideas for other places you could visit. dedicated to masterposts of old.</p>

<h3>x6ud</h3>

<h2>Credits & Special Thanks</h2>

<p>Hosted on <a href="https://neocities.org/site/vanillian">Neocities</a></p>

<p>Built using 11ty and Nunjucks</p>

<p>Bennett Accounting & Tax LLC <br> for vanquishing my victimhood</p>

<p>L4RK WUZ HERE!!!</p>

<p class="veranhype">I DID IT FOR THE PRISM</p>