---
layout: "layout.njk"
title: Elsewhere
contenttitle: The Elsewhere
titlecaption: Thank you for visiting!
handnotel: "&nbsp"
handnoter: "&nbsp"
justify: center
---
<h2 style="margin-top:5px;">Web Neighbors</h2>

<h2>Cool Links</h2>

<p>i have a few ideas for other places you could visit. dedicated to masterposts of old.</p>

<h3> STUFF</h3>
<p>TRUST ME, I'M A DOCTOR.</p>

<table>
    <tr>
        <td>EFT Tapping</td>
        <td>oh this is great. so great.</td>
    </tr>
</table>

<h2>Credits & Special Thanks</h2>

<p>Hosted on <a href="https://neocities.org/site/vanillian">Neocities</a></p>

<p>Built using 11ty and Nunjucks</p>

<p>Bennett Accounting & Tax LLC <br> for vanquishing my victimhood</p>

<p>L4RK WUZ HERE!!!</p>

<p class="veranhype">I DID IT FOR THE PRISM</p>