---
layout: "layout.njk"
title: Home
contenttitle: My Webmaster Hates You, Too
titlecaption: and round and round
precontent: |
    <figure class="indexEricContainer">
    <img src="/assets/img/welleric.png" class="indexEric">
    </figure>
handnotel: |

    <figure class="vertise" style="margin-right:0;">
        <p id="vertiseX">X</p>
        <img src="/assets/img/pixelparty.png">
        <p id="vertiseWho">VanSense</p>
    </figure>


    
    <div class="handnote">It's rude to just start talking without introducing yourself...</p>

    <h1>Updates</h1>
    <ul>
        <li>- killed a man</li>
    </ul>
handnoter: |
    <div class="handnote"><sup>1</sup>And we're evil too!</p>

    <p></p>
justify: center
pagestyle: |
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

    <style>
        .socials {
        font-size:24px;
        display:flex;
        justify-content:center;
        align-items: center;
        gap:10px;
        }

        @media (min-width: 900px) {

            /* HR 1 */
                .contentRight .handnote:nth-child(1) {
                margin-top:70px;
                } 
        
        }

        @media (max-width: 900px) {

            /* HR 1 */
                .contentRight .handnote:nth-child(1) {
                top:42px;
                } 
        }
    </style>

---

<section class="socials">


    <span class="iconify" data-icon="bi:instagram"></span>

    <span class="iconify" data-icon="simple-icons:bluesky" data-inline="false"></span>

    <span class="iconify" data-icon="mdi:twitter" style="font-size:31px; margin-left:-4px;"></span>


</section>






<p>Vanillian is a speculative media conglomerate<sup>1</sup> concerned with alchemy, autism, and Annie.</p>

<p>The webmaster is more or less a conduit for this entity. Having lived most of his life through the proxy of the Internet, Vanillian: the website is an attempt at something that reaches back. It's a proof of existence, as well as an attempt to </p>

<p>I also like video games.</p>

<hr>

<p>Amet sadipscing lorem vel duis nonumy ex. Ipsum sit clita sea nonummy erat liber stet diam nulla stet dolore sit et elit gubergren nonumy. Est gubergren et kasd mazim magna sea delenit. At ad dolor clita tempor accusam facilisis invidunt liber duo at nam illum invidunt. Blandit dolor est sed iriure erat elit amet. Vero labore nulla tempor tempor nulla autem amet sed aliquip magna rebum sit imperdiet diam. Justo elitr vero elitr dolor duo et. Dolor gubergren amet diam aliquyam diam. Quis iusto diam eirmod ipsum dolor esse eirmod erat lorem vel dolor sit velit dolore labore blandit. Sadipscing magna et liber ipsum amet sanctus stet labore sed dolor et iusto qui facilisi dolores.</p>