---
layout: "layout.njk"
title: Home
contenttitle: My Webmaster Hates You, Too
titlecaption: and round and round
precontent: <img src="assets/img/erictest.png" class="indexEric">
handnotel: tri-harder ad
handnoter: good images ad
justify: center
---
<p>Vanillian is a speculative entertainment brand concerned with alchemy, autism, and allegiance to Little Orphan Annie.</p>

<p>I have given everything to be a creature of proxy, now you just get to witness it</p>

<p>...Oh, hi GitHub..</p>