---
layout: "layout.njk"
title: Profile
contenttitle: Veran Roosevelt Vanillian
titlecaption: HE'S BAAACK
handnotel: |
  <img src="/assets/img/thecope.png" id="thecope">
  <div class="imgCaption">pictured as "the cope"</div>
  <hr>
  <!-- yeah idk either if i touch anything it wigs out so just deal with the weird names for now ok? thanks nowgoant from codepen for saving my sanity-->
  <div style="display:flex; justify-content:center; align-content:center;">
    <div class="panel_winning-content bfc"><ul class="wining-area w100p marquee"><li class="wining-item">CARTOONIST</li><li class="wining-item">WRITER</li><li class="wining-item">WEB DEV</li><li class="wining-item">GAME DEV</li><li class="wining-item">PERFORMANCE AUTIST</li><li class="wining-item">UNLICENSED MILK SOMMELIER</li><li class="wining-item">CARTOON VILLAIN</li><li class="wining-item">MARIAN APPARITION</li><li class="wining-item">FERAL ANIMAL</li><li class="wining-item">TOON</li><li class="wining-item">CARTOONIST</li></ul></div>
  </div>

  <section class="funnyImages"><a href="https://japannews.yomiuri.co.jp/editorial/cultural-viewpoints/20230302-94361/"><img src="/assets/img/types.png"></a><a href="https://www.dropbox.com/scl/fi/tr6uvtxi2m9d2dr80n8ok/classpect-brochure-draft-18.doc?rlkey=2q1mv519ydo1aa9unq5hyi6cb&e=1&st=8p1mx29a&dl=0" title="Important disclosure, I am a Page."><img src="/assets/img/hope.gif"></a><img src="/assets/img/sync.png"></section>

postcontent:  |
  <hr>
  <h1>The Others</h1>
  <p class="titleCaption" style="margin-top:-12px;">CO-WEBMASTERS/GHOSTWRITERS/WEBSERFS</p>

  <section class="content" style="justify-content: center; align-items:center;">

    <div class="contentMain">

      <article class="mainText contentMiddle">

        <img src="/assets/img/erry.png" style="width:250px; float:right;">

        <h2 style="text-align:center;">Eric Semme</h2>
        <p style="font-size:20px;">In a previous life, Eric Semme was a pencil pusher for the man, praised for his mechanical efficiency and lack of work-life balance. The pressure of the grind slowly cooked him from the inside, eventually leading him to burst into who he is today: a being of pure masculine excess. </p>

        
      </article>

      <article class="mainText contentRight" style="flex:2;">

        <img src="/assets/img/janny.png" style="width:274px; float: left; margin-top:30px; margin-right:9px;">
        
        <h2 style="text-align:center;" >Janet Jopples</h2>
        <p style="font-size:20px;">Janet is a <s>failed</s> clone of Eric Semme designed to replicate his marketable traits and cut the sleaze. Not being bound by the physical plane gives her high expectations of quality and quantity, but Vanillian is all the better being overseen by her smug perfectionism.</p>
      </article>

    </div>
  </section>
  <i>NOTICE: WE ARE TAKING THE ALLEGATIONS LEVELED AGAINST MR. SEMME SERIOUSLY. AS A RESULT, WE ARE DEPRIORITZING HIS POSITION AS THE MASCOT OF VANILLIAN. PLEASE PARDON OUR DUST AS WE MOVE FORWARD WITH THIS TRANSITION.</i>


pagestyle: |
  <style>

    #contact {
    display:flex;
    margin-top:19px;
    justify-content: center;
    align-items: center;
    }


    @media (max-width: 900px) {

    .contentMain {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }

    .contentMiddle {
    order:3;
    }
    
    }
  </style>

---
<p>Hark! It answers to the call of <br> Vɛrən Roʊzəvɛlt Vəˈnɪliən!</p>

<p>Hey there! I’m a surrealist fictionist hellbent on <strong>REVENGE!!!</strong> I came from The Internet™.</p>

<p>I've lived the majority of my life through the proxy of a screen. It's given me character, sure, but now I'm trying to claw my way out</p>

<p>filler filler filler filler filler filler filler filler filler FILLERRRRR</p>

<div class="identification">
  <div class="idHeader">VAN CARD</div>
  <div class="idContents">
      
    <div class="idImages">
      <img src="/assets/img/1vvvv.png" id="idIcon">
      <img src="https://i.imgur.com/RfFQttM.png" id="idSiggy">
    </div>
      
    <div class="idVitals">
        <table>

          <tr>
            <td>NAME</td>
            <td>vera. roos. vani.</td>
          </tr>

          <tr>
            <td>GENDER</td>
            <td>genderless male</td>
          </tr>

          <tr>
            <td>PRONOUNS</td>
            <td>ham/he/her</td>
          </tr>

          <tr>
            <td>CLASSPECT</td>
            <td>page of hope</td>
            </tr> 

          <tr>
            <td>NATURE</td>
            <td>hasty</td>
          </tr>
          <tr>
            <td>C. POINT</td>
            <td>lips</td>
          </tr>
          
        </table>
  
      </id>
    </div>
  </div>
</div>

<section id="contact">
  hmu @ webmaster[at]vanillian[dot]us
</section>

<br>

