---
layout: "layout.njk"
title: Profile
contenttitle: Veran Roosevelt Vanillian
titlecaption: HE'S BAAACK
handnotel: |
  <img src="/assets/img/thecope.png" id="thecope">
  <div class="imgCaption">pictured as "the cope"</div>
  <hr>
  <!-- yeah idk either if i touch anything it wigs out so just deal with the weird names for now ok? thanks nowgoant from codepen for saving my sanity-->
  <div style="display:flex; justify-content:center; align-content:center;">
    <div class="panel_winning-content bfc"><ul class="wining-area w100p marquee"><li class="wining-item">CARTOONIST</li><li class="wining-item">WRITER</li><li class="wining-item">WEB DEV</li><li class="wining-item">GAME DEV</li><li class="wining-item">PERFORMANCE AUTIST</li><li class="wining-item">UNLICENSED MILK SOMMELIER</li><li class="wining-item">CARTOON VILLAIN</li><li class="wining-item">MARIAN APPARITION</li><li class="wining-item">FERAL ANIMAL</li><li class="wining-item">TOON</li><li class="wining-item">CARTOONIST</li></ul></div>
  </div>

  <section class="funnyImages"><a href="https://japannews.yomiuri.co.jp/editorial/cultural-viewpoints/20230302-94361/"><img src="/assets/img/types.png"></a><a href="https://www.dropbox.com/scl/fi/tr6uvtxi2m9d2dr80n8ok/classpect-brochure-draft-18.doc?rlkey=2q1mv519ydo1aa9unq5hyi6cb&e=1&st=8p1mx29a&dl=0" title="Important disclosure, I am a Page."><img src="/assets/img/hope.gif"></a><img src="/assets/img/sync.png"></section>

postcontent:  |
  <hr><h2>The Others</h2> <p class="titleCaption" style="margin-top:0px;">CO-WEBMASTERS/WEBSERFS</p> <div class="content"><div class="contentMain"><div class="handNotes contentLeft">FUCK</div><div class="mainText contentMiddle"><h3>ERIC SEMME</h3><p>Eric is</p></div></div></div> <div class="content"><div class="contentMain"><div class="handNotes contentLeft" style="flex:3;"><h3>Janet Jopples</h3><p>Janet is a</p></div><div class="mainText contentMiddle"><p>IMAGE</p></div></div></div>
pagestyle: |
  <style>
    @media (max-width: 900px) {

    .contentMain {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }

    .contentMiddle {
    order:3;
    }
    
    }
  </style>

---
<p>Hark! It answers to the call of <br> vɛrən roʊzəvɛlt vəˈnɪliən!</p>

<p>Hey there! I’m a surrealist fictionist hellbent on <strong>REVENGE!!!</strong> I came from The Internet™.</p>

<p>I've come to the recent realization I've lived the majority of my life through the proxy of a screen.</p>

<p>filler filler filler filler filler filler filler filler filler FILLERRRRR</p>

<div class="identification">
  <div class="idHeader">VAN CARD</div>
  <div class="idContents">
      
    <div class="idImages">
      <img src="/assets/img/1vvvv.png" id="idIcon">
      <img src="https://i.imgur.com/RfFQttM.png" id="idSiggy">
    </div>
      
    <div class="idVitals">
        <table>

          <tr>
            <td>NAME</td>
            <td>vera. roos. vani.</td>
          </tr>

          <tr>
            <td>GENDER</td>
            <td>genderless male</td>
          </tr>

          <tr>
            <td>PRONOUNS</td>
            <td>ham/he/her</td>
          </tr>

          <tr>
            <td>CLASSPECT</td>
            <td>page of hope</td>
            </tr> 

          <tr>
            <td>NATURE</td>
            <td>hasty</td>
          </tr>
          <tr>
            <td>C. POINT</td>
            <td>lips</td>
          </tr>
          
        </table>
  
      </id>
    </div>
  </div>
</div>

<br>

