---
layout: "layout.njk"
title: Lies
contenttitle: An Obnoxiously Long Title Only A Mother Could Love
titlecaption: are we really doing this
posttime: an 8
postdate: December 6th, 2024
description: How cool!
handnotel:  |
    <div class="handnote" style="margin-top:210px;">    <sup>1</sup>whattt 
    </div>
    <div class="handnote" style="margin-top:110px;">    <sup>3</sup>whattt 
    </div>
handnoter:  |
    <div class="handnote" style="top:150px;">
        <sup>2</sup>no way
    </div>
dropcap: true
justify: justify
pagestyle:  |
    <style>
        @media (max-width: 900px) {

            body {
            color:red;
            }

            /* HR 1 */
                .contentLeft .handnote:nth-child(1){
                margin-top:0px;
                } 

            /* HR 2 */
            .contentRight .handnote:nth-child(1){
            margin-top:10px;
            }

            /* HR 3 */
            .contentLeft .handnote:nth-child(2){
            margin-top:100px;
            }
        }
    </style>
ezgallery: true
tags: blog
---